[gerrit]
	basePath = git
	canonicalWebUrl = http://w8akumar.globalenglish.org:8080/
[database]
	type = h2
	database = db/ReviewDB
[auth]
	type = DEVELOPMENT_BECOME_ANY_ACCOUNT
[sendemail]
	smtpServer = localhost
	smtpUser = akumar
[container]
	user = akumar
	javaHome = C:\\Program Files\\Java\\jre8
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
